<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="icon" type="image/png" sizes="32x32" href="static/netflix-logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/netflix-logo.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/netflix-logo.png">
    <link rel="shortcut icon" href="static/netflix-logo.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">


    <title>Netflix - Watch Tv Shows Online, Watch Movies Online</title>
    <meta name="description"
        content="Watch netflix movies & TV shows or stream right to your smart Tv, game console, PC, Mac, mobile, tablet and more.">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.Netflix.com/">
    <meta property="og:title" content="Netflix - Watch Tv Shows Online, Watch Movies Online">
    <meta property="og:description"
        content="Watch netflix movies & TV shows or stream right to your smart Tv, game console, PC, Mac, mobile, tablet and more.">
    <meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.Netflix.com/">
    <meta property="twitter:title" content="Netflix - Watch Tv Shows Online, Watch Movies Online">
    <meta property="twitter:description"
        content="Watch netflix movies & TV shows or stream right to your smart Tv, game console, PC, Mac, mobile, tablet and more.">
    <meta property="twitter:image" content="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg">
    <link rel="stylesheet" href="https://cdn.hugeicons.com/font/hgi-stroke-rounded.css" />

</head>

<body>

    <header>
        <div class="header-left">
            <a href="/browse"><img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg"
                    alt="Netflix Logo" class="header-logo"></a>

            <img src="static/netflix-logo.png" alt="N" class="mobile-logo">
            <h1 class="mobile-page-title">Home</h1>

            <nav class="main-nav">
                <ul>
                    <li class="active" id="nav-home"><a href="#">Home</a></li>
                    <li id="nav-shows"><a href="#">Shows</a></li>
                    <li id="nav-movies"><a href="#">Movies</a></li>
                    <li><a href="/my-netflix">My Netflix</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-right">
            <div id="search-bar-container" class="search-bar-container">
                <svg class="search-icon-input" viewBox="0 0 24 24">
                    <path
                        d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                    </path>
                </svg>
                <input type="text" id="header-search-input" placeholder="Titles, people, genres" autocomplete="off">
                <span id="close-search-icon">&times;</span>
            </div>
            <svg id="search-icon-trigger" class="nav-search-icon" viewBox="0 0 24 24">
                <path
                    d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                </path>
            </svg>
        </div>
    </header>

    <nav class="mobile-filters">
        <button>Shows</button>
        <button>Movies</button>
        <button>Categories <svg viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"></path></svg></button>
    </nav>

    <section id="search-results-section" class="search-results-section">
        <div id="search-results"></div>
        <div id="search-feedback"></div>
    </section>

    <section id="hero-container" class="hero-container"></section>

    <main id="main-content">
        <div id="shuffled-rows-container">
            <div class="loader"></div>
        </div>
    </main>

    <div id="info-modal"></div>

    <div id="player-modal" class="player-modal">
        <button id="close-player-btn" class="close-player-btn" title="Back to Browse">
            <svg viewBox="0 0 24 24">
                <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
            </svg>
        </button>
        <div id="player-container"></div>
    </div>

    <div id="toast" class="toast"></div>

    <div id="mobile-search-popup" class="mobile-search-popup">
        <div class="mobile-search-header">
            <button class="mobile-search-back-btn" id="mobile-search-back-btn">
                <svg viewBox="0 0 24 24">
                    <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
                </svg>
            </button>
            <div class="mobile-search-input-container">
                <svg class="mobile-search-icon" viewBox="0 0 24 24">
                    <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                </svg>
                <input type="text" id="mobile-search-input" class="mobile-search-input" placeholder="Search shows, movies..." autocomplete="off">

            </div>
        </div>
        <div class="mobile-search-results">
            <div class="mobile-search-title">Recommended TV Shows & Movies</div>
            <div id="mobile-search-results-list"></div>
        </div>
    </div>

    <div id="details-popup" class="details-popup"></div>
    <div id="actor-works-popup" class="actor-works-popup"></div>

    <!-- Mobile Bottom Navigation -->
    <nav class="mobile-bottom-nav">
        <a href="/browse" class="nav-item active">
            <i class="hgi hgi-stroke hgi-home-09"></i>
            <span>Home</span>
        </a>
        <a href="#" class="nav-item">
            <i class="hgi hgi-stroke hgi-game-controller-03"></i>
            <span>Games</span>
        </a>
        <a href="#" class="nav-item">
            <i class="hgi hgi-stroke hgi-video-replay"></i>
            <span>New & Hot</span>
        </a>
        <a href="/my-netflix" class="nav-item">
            <img src="https://d2u1z1lopyfwlx.cloudfront.net/thumbnails/b6efbfd1-d9cd-5900-8b61-e49cfeaa5f43/6b5d82d0-df0d-5fb7-9d32-ae31b1651ada.jpg" alt="Profile" class="nav-profile-img">
            <span>My Netflix</span>
        </a>
    </nav>

    <footer></footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>